.orange
  .wrapper
    .title
      %h1
        Беспрецедентная акция!

.wrapper
  .about
    .about-title
      %h2
        Страница захвата за 3 500 рублей
        .small
          Мы решили устроить распродажу и снизили цену на страницу захвата в 2 раза!
          При заказе до четверга (19 сентября), стоимость страницы захвата и полного пакета
          сопутствующих услуг составит всего 3 500 рублей вместе 7 000.


.gray
  .wrapper
    .samples
      .samples-title
        %h2
          Как будет выглядеть лэндинг за 3 500 рублей?
          .small
            Разумеется, сюда не входит работа над индивидуальным дизайном.
            Однако, это не означает, что ваша страница будет выгляеть как результат работы
            первокурсника.

      .samples-container
        .sample
          = image_tag '/assets/third/jomalone.jpg'
        .sample
          = image_tag '/assets/third/kilian.jpg'
        .sample
          = image_tag '/assets/third/serge-lutens.jpg'


      .samples-title
        %h2
          .small
            Вышеприведенные работы были сделаны за 3 500 рублей каждая, для компании, занимающейся
            продажей парфюмерии. На наш взгляд они очень даже ничего.


.wrapper
  .order-form
    = render partial: 'third_version/order_form'


.gray
  .wrapper
    .blocks
      .blocks-title
        %h2
          Что вы получите за 3 500 рублей?
      .block
        .block-head
          Домен и хостинг
        .block-content
          Мы купим для вас доменное имя вида landing.ru
          и разместим вашу страницу захвата на профессиональном хостинге.
      .block
        .block-head
          Яндекс Метрику
        .block-content
          Мы не только подключим к странице захвата Яндекс Метрику,
          но и настроим ряд целей, что позволит отслеживать эффективность
          рекламной кампании.

      .block
        .block-head
          СМС уведомления
        .block-content.last
          Вы будете получать все заявки со страницы захвата сразу себе
          в телефон по смс.


.wrapper
  .reports
    .reports-title
      %h2
        Вот что рассказывают о нас наши клиенты

    .reports-container
      .report
        .head
          .avatar
            = image_tag '/assets/third/avatar1.jpg', width: 75
          .info
            .name
              Константин Тишкин
            .chief
              Директор по маркетингу
        .body
          Заказывал у ребят страницу захвата для семейного бизнеса, массажного салона.
          Честно говоря, хотел изначально классический лэндинг с отзывами, скидками и прочими стандартными триггерами.
          Но в процессе работы меня мало того, что переубедили, так еще и предложили попробовать увеличить стоимость часовой программы
          на 20%, что было дороже, чем у всех конкурентов. В итоге, конверсия лэндинга получилась в 4 раза больше, чем у существовавшего
          на тот момент сайта, а клиентов нисколько не смущала "дорогая", на мой взгляд, цена.
          %br
          %br
          Очень сильно рекомендую!



      .report
        .head
          .avatar
            = image_tag '/assets/third/avatar2.jpg', width: 75
          .info
            .name
              Максим Звольский
            .chief
              Владелец клининговой компании
        .body
          Во время телефонного разговора, Кирилл (основатель студии) предложил мне вместо одного общего лэндинга по клинингу,
          сделать пять, но сильно проще и дешевле. Обсудив это с партнером, мы решили согласиться на такой эксперимент.
          %br
          %br
          В итоге, на каждый из маленьких лэндингов попадал максимально релевантный трафик, за счет чего средняя конверсия
          в заявку по всем лэндингам составила почти 17%. Также хочу отметить, что такой результат во многом был получен еще и потому,
          что Яндекс Директ нам тоже настраивали сотрудники Кирилла.


.gray
  .wrapper
    = render partial: 'third_version/order_form'


.modal-overlay
.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!