.team-member
  .avatar
    = image_tag 'team/agatov.jpg'
  .about
    .name  Кирилл Агатов
    .state Менеджер проектов

.team-member
  .avatar
    = image_tag 'team/tishkin.jpg'
  .about
    .name  Константин Тишкин
    .state Маркетолог / Аналитик

-#.team-member
  .avatar
    = image_tag 'team/amelkin.jpg'
  .about
    .name  Артем Амелькин
    .state Аналитик


-#.team-member
  .avatar
    = image_tag 'team/razinkina.jpg'
  .about
    .name  Наталья Разинкина
    .state Дизайнер

.team-member
  .avatar
    = image_tag 'team/germanov.jpg'
  .about
    .name  Иван Германов
    .state Дизайнер


.team-member
  .avatar
    = image_tag 'team/erastova.jpg'
  .about
    .name  Мария Ерастова
    .state Копирайтер

.team-member
  .avatar
    = image_tag 'team/kuznetsov.jpg'
  .about
    .name  Борис Кузнецов
    .state Программист

-#.team-member
  .avatar
    = image_tag 'team/shebanov.jpg'
  .about
    .name  Николай Шебанов
    .state Программист

-#.team-member
  .avatar
    = image_tag 'team/kretov.jpg'
  .about
    .name  Игорь Кретов
    .state Директолог

-#.team-member
  .avatar
    = image_tag 'team/badjo.jpg'
  .about
    .name  Ангелина Баджо
    .state SMM Менеджер

.team-member
  .avatar
    = image_tag 'team/ordinsky.jpg'
  .about
    .name  Никита Ордынский
    .state Видеооператор

.team-member
  .avatar
    = image_tag 'team/suhodolsky.jpg'
  .about
    .name  Алексей Суходольский
    .state Видеооператор