-#= render partial: 'second_version/modal'
#intro
  .wrapper.padding8
    .title
      В
      %span.light 20%
      случаев лэндинги не работают.
      %br
      Узнайте будет ли работать лэндинг в вашем бизнесе!


  .wrapper
    .order-button#first-button
      Хочу узнать прямо сейчас


- if params[:promo] == 'special_rf_offer'
  = render partial: 'second_version/region_promo'

- else
  = render partial: 'second_version/first_action'
  = render partial: 'second_version/about_video'




%section.section-cases
  .wrapper
    .section-title
      %h2
        Наши кейсы

    %p.section-description
      Главный результат нашей работы - высокая эффективность страниц захвата.
      %br
      Мы гордимся нашими клиентами и результатами работы с ними.


    .features
      .feature.feature-case.active{target: 'case-marketube'}
        %h3
          %a{href: 'http://marketube.ru/', target: '_blank'}
            Marketube

        %p
          Страница захвата наших партнеров, занимающихся съемкой продающих видеороликов.


      .feature.feature-case.centered{target: 'case-mimicase'}
        %h3
          %a{href: 'http://mimicase.cases.abardacha.ru/', target: '_blank'}
            Mimicase

        %p
          Страница захвата для компании, продающей чехлы для телефонов в корпоративном стиле.


      .feature.feature-case.last{target: 'case-tastell'}
        %h3
          %a{href: 'http://montale.cases.abardacha.ru/', target: '_blank'}
            Продажа духов Montale

        %p
          Страница захвата для магазина нишевой эксклюзивной парфюмерии.

    .feature-images
      .feature-image.active{rel: 'case-marketube'}
        %a{href: 'http://marketube.ru/', target: '_blank'}
          = image_tag 'case1.png'

      .feature-image{rel: 'case-mimicase'}
        %a{href: 'http://mimicase.cases.abardacha.ru/', target: '_blank'}
          = image_tag 'case2.png'

      .feature-image{rel: 'case-tastell'}
        %a{href: 'http://montale.cases.abardacha.ru/', target: '_blank'}
          = image_tag 'case3.png'


%section
  .section-title
    %h2
      Всё, что вам нужно.

  %p.section-description
    Мы выполним всю работу под ключ.
    %br
    Вам останется лишь получать новых клиентов.


  .wrapper

    .features
      .feature.center
        .icon.image
        %h3 Страница захвата
        %p
          Мы составим техническое задание, изготовим прототип, согласуем с вами.
          Затем нарисуем крутой дизайн, сверстаем и запрограммируем его.

      .feature.center
        .icon.www
        %h3 Доменное имя
        %p
          Мы подберем для вашей страницы подходящее доменное имя, купим его и прикрепим к хостингу.

      .feature.last.center
        .icon.server
        %h3 Хостинг
        %p
          Готовую страницы мы размещаем на нашем собственном хостинге. Он состоит из трех мощных серверов, никогда
          не глючит и не ломается.

      .feature.center
        .icon.split
        %h3 А / B тестирование
        %p
          Мы можем провести серию из неограниченного количества сплит-тестов и в результате выявить наиболее эффективную
          версию страницы захвата.

      .feature.center
        .icon.stat
        %h3 Системы аналитики
        %p
          Мы подключим к вашей странице захвата Яндекс Метрику и правильно настроим цели. Это необходимо для анализа
          эффективности тех или иных источников посетителей.

      .feature.last.center
        .icon.buble
        %h3 Бесплатная поддержка
        %p
          В течение следующего года мы будем бесплатно поддерживать работоспособность вашей страницы захвата и своевременно
          обновлять необходимую информацию.

%section.team
  .section-title
    %h2 Абардача - это 7 профессионалов
  %p.section-description
    Мы объединили наши усилия, чтобы делать лучшие страницы захвата в России.


  .wrapper
    = render partial: 'second_version/team'


= render partial: 'second_version/last_action'
= render partial: 'second_version/about_prototype'


%section{style: 'background: #eee;'}
  .section-title
    %h2 Как нас найти?
  %p.section-description
    Наш офис находится по адресу
    %br
    Москва, Казарменный переулок, дом 3


#map

%section.section-footer
  .wrapper
    .abardacha
      Абардача

    .policy
      %a{href: '/simple', target: '_blank'}
        Политика конфиденциальности
    .phone
      8 (495) 792 89 59



-#.modal-overlay
-#.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!


= render partial: 'second_version/modal'
= render partial: 'second_version/video'




