!!! 5
%html
  %head
    = stylesheet_link_tag    'second', :media => 'all'
    = csrf_meta_tags
    %script{src: 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'}
    = javascript_include_tag 'second'
    %title
      АБАРДАЧА
  %body
    = yield
    = render partial: 'layouts/metrika'